h3 {
    margin-top: 0;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    padding: 50px;
    border: 10px solid darkblue;
    background-color: lightblue;
}
p {
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    padding: 30px;
    border: 10px solid darkred;
    background-color: lightpink;
}
* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: grid;
    grid-template-areas:
    "head head head"
    "nav content bar"
    "foo foo foo";
    grid-template-rows: auto, 1fr, auto;
    grid-template-columns: 19em auto 15em;
    overflow: hidden;
}
.header {
    grid-area: head;
}
.nav {
    grid-area: nav;
}
.content {
    grid-area: content;
    overflow-y: auto;
}
.side-bar {
    grid-area: bar;
}
.footer {
    grid-area: foo;
}